.glassmorphism {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 60px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px) !important;
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 0, 0, 0.4);
}
